<section class="flex-section">
	{# {% for item in post.get_field('flex_fields') %}

		{% if item.acf_fc_layout == 'donate_cta' %}
        	{% include "flex_sections/donate_cta.twig" %}
        {% endif %}
        
    {% endfor %} #}
</section>