{% block site_nav %}
<nav>
  <div class="nav-container">
    <div class="mobile-nav-trigger">
      <a href="#!" class="btn btn__light">request a quote</a>
      <div class="trigger">
        <div class="trigger__container">
          <span></span>
        </div>
      </div>
    </div>

    <ul class="main-nav">
      {% for item in menu.get_items %}
          <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
          </li>
      {% endfor %}
        <li class="nav-main-item"><a href="#!" class="btn btn__light">request a quote</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
