{% extends "base.twig" %}

{% block content %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Form</h1>
				<form>
					<input type="text" name="" placeholder="input"></br>
					<textarea placeholder="textarea"></textarea></br>
					<button type="submit">submit</button>
				</form>
			</div>
		</div>
	</div>
</section>

{% include "flex_sections/flex_fields.twig" %}
{% endblock %}