{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<div class="row">
			<h1>Headings</h1>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h1 class="uppcase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				<h6 class="uppcase">h1</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
				<h6 class="uppcase">h2</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
				<h6 class="uppcase">h3</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
				<h6 class="uppcase">h4</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
				<h6 class="uppcase">h5</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
				<h6 class="uppcase">h6</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lobortis ornare. Donec ullamcorper consequat commodo. Quisque sed ullamcorper lorem, in pretium sem. Nam iaculis ligula aliquam, tempus diam eu, aliquet nibh. Duis dignissim nunc nec ligula imperdiet vulputate. Cras ut placerat erat. Aliquam egestas massa eu dui accumsan, nec pulvinar mauris pulvinar. Phasellus at facilisis est.</p>
				<h6 class="uppcase">paragraph</h6>
			</div>
		</div>
		<div class="row">
			<h1>Buttons & Links</h1>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<a href="#!" class="inline">inline link</a>
				<h6 class="uppcase">inline link</h6>
			</div>
			<div class="col-12 vp-xs-top-2 vp-xs-bottom-2">
				<a href="#!" class="btn btn__primary">primary</a>
				<a href="#!" class="btn btn__secondary">secondary</a>
				<a href="#!" class="btn btn__dark">dark</a>
				<a href="#!" class="btn btn__light">light</a>
			</div>
		</div>
	</div>

{% endblock %}
